---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
	<article class="shade-two">
		<div class="container">
			<header>
				<h2> Projects </h2>
				<!--<h2>{{- page.title -}}</h2>-->
			</header>
			{{- content -}}
		</div>
	</article>
	{%- endif -%}
	<!-- Posts List -->
	{%- for _post in _posts -%}

				{%- capture _title -%}
				<div align=left>
					<name-bold>
						<a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>
					</name-bold>
				</div>
				{%- endcapture -%}
				{%- capture _subtitle -%}
				<div align=left>
					<h3> {{- _post.subtitle -}} </h3>
				</div>
				{%- endcapture -%}

				{%- capture _excerpt -%}
				{{- _post.content -}}
				{%- endcapture -%}

				{%- capture _link -%}
					<!-- <a href="{{- _post.url | absolute_url -}}">See Details</a> -->
				{%- endcapture -%}

				{%- assign _content = _excerpt | append: _link -%}
				{%- include section.html title=_title subtitle=_subtitle content=_content -%}

	{%- endfor -%}
</div>
